.sign-form {
    position:fixed;
    margin:0px;
    top:30%;
    left:37%;
    width:30%;
    height:60%;

}

.sign-form form {
    border-bottom:#cdeef7 solid 5px;
    border-radius: 5px;
    padding-bottom:30%;
}

label {
    visibility: hidden;
}

.sign-input {
    width:100%;
    height:20%;
    margin-bottom:1.5em;
    border:solid transparent;
    border-radius: 12px;
    text-align: center;
    font-size: larger;
    display: block;
}

.sign-button {
    background-color: #e0c831;
    color: white;
    margin: 6em 5em 0px 5em;
    border-radius: 12px;
    padding: 6px 30px 30px 30px;
    width:65%;
    height:10%;
    font-size: 20px;
    text-align:center;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    display: block;
}

.sign-button:hover {
    background-color: #7f20a7;
}

p {
    margin-top:2em;
    width: 100%;
    height:10%;
}