.sign-form {
    position:fixed;
    margin:0px;
    top:20%;
    left:37%;
    width:30%;
    height:60%;

}

.sign-form form {
    border-bottom:#cdeef7 solid 5px;
    border-radius: 5px;
    padding-bottom: 20em;
}

label {
    visibility: hidden;
}

.sign-input {
    width:100%;
    height:20%;
    margin-bottom:1em;
    border:solid transparent;
    border-radius: 12px;
    text-align: center;
    font-size: larger;
    display: block;
}

.sign-button {
    background-color: #e0c831;
    color: white;
    margin: 6em 4em 6em 4em;
    border-radius: 12px;
    padding: 6px 30px 30px 30px;
    width:65%;
    height:10%;
    font-size: 20px;
    text-align:center;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    display: block;
}

.sign-button:hover {
    background-color: #7f20a7;
}

p {
    margin-top:2em;
    width: 100%;
    height:10%;
}

.existing-user-error{
    margin:0px;
    position:relative;
    top:3em;
    left:40em;
    width:27em;
    font-size:larger;
    color:#ff0000e6;
}

#password-error {
    text-align:center;
    border-radius: 12px;
    margin:0px  10em 0em 10em;
    padding-top:0.5em;
    width:300px;
    color:white;
}