.profile {
    position: relative;
    left: 30em;
    text-align:center;
    display:block;
    color:#0c576d;
    width:450px;
    height:450px;
}

.profile-img{
    width:250px;
    height:250px;
    border-bottom: 7px solid #f7df4d;
    border-radius: 20px;
    padding: 0px 70px 30px 70px;
    margin-bottom: 20px;
}

h2, h3, h4 {
    margin: 0px 0px 0px 3em;
    height:50px;
}

.credit {
    position: absolute;
    width:400px;
    margin: 0px 0px 0px 4em;
}

em, .money {
    display:inline;
    color:#f7df4d;
    font-size:larger;
}

main form {
    margin-top:3em;
    height: 30px;
}

.invest-button {
    background-color: #e0c831;
    color: #9C27B0;
    border-radius: 12px;
    padding: 6px 30px 30px 30px;
    width:100%;
    font-size: 20px;
    text-align:center;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.invest-button:hover {
    background-color: #7f20a7;
    color:white;
}

.beware {
    margin-top:3em;
    color:#ff0909;
}