{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- mettere qua i nuovi pezzi di header da linkare-->
{% endblock %}

{% block body %}
    <p>
    Our team is all over the world.
    Educating and empowering the SEO community by providing the freshest news and latest best practices via the industry’s smartest practitioners.

    Launched in 2003, SEJ is unique in its community-based approach to search marketing content. Virtually all of our contributed articles come from real online marketing experts, both independent and in-house.
    </p>
    !!!!!!!!mettere il logo sulla destra gigante!"!!!!!!!
{% endblock %}
