<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Fish Shop - {{ page_type }}</title>

        <link href="/static/css/base.css" type="text/css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="/static/js/base.js"></script>

    {% endblock %}
</head>
<body>

<header class="header">
    <nav>
        <a href="{{ url_for('homepage', page_type="Home") }}"><img src="/static/images/logo.png" alt="Home" id="img-logo"></a>
        <a href="/search/">Search</a>
        <a href="/about/">About</a>

        <div class="nav-right">
            {% if login[0] %}
                <a href="/shopping_cart/"><img src="/static/images/cart.png" alt="Shopping Cart" class="cart-icon"></a>
                <a href="/profile/"><img src="/static/images/profile_1.png" alt="Profile Page - {{ login[2] }}" class="cart-icon"></a>
                <a href="/signout/" onclick="logout();">Sign Out</a>
            {% else %}
                <a href="/shopping_cart/"><img src="/static/images/cart.png" alt="Shopping Cart" class="cart-icon" onclick="needLogin(false);"></a>
                <a href="/signin/">Sign In</a>
                <a href="/signup/">Sign Up</a>
            {% endif %}
        </div>

    </nav>
</header>

<aside class="aside aside_fast_search">
    <form class="fast-search-form" method="get" action="/search/">
        <ul>
            <li class="fast-search-element"><input type="submit" name="search_text" value="balena" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="squalo" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="mar mediterraneo" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="mar adriatico" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="mar tirreno" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="oceano indiano" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="oceano pacifico" class="fast-search-button"></li>
            <li class="fast-search-element"><input type="submit" name="search_text" value="oceano atlantico" class="fast-search-button"></li>
        </ul>
    </form>
</aside>

<main class="main">
    {% block body %}
    {% endblock %}
</main>

<footer class="footer">&copy;2019 Matteo Goretti | All rights reserved</footer>

</body>
</html>