<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Fish Shop - {{ page_type }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- link rel="shortcut icon" href="favicon.ico" type="image/x-icon" / -->
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />

        <link href="/static/css/base.css" type="text/css" rel="stylesheet">

    {% endblock %}
</head>
<body>

<header>
    <nav>
        <div class="navigation">
            <a href="/"><img src="/static/images/logo.png" alt="Fish Shop Logo"></a>
            <a href="/search/">Search</a>
            <a href="/about/">About</a>
        </div>


        <!-- TODO mettere icona carrello e wishlist e pagina contatti (da creare) con tutte le mie info e i miei social
        la whishlist va nel menu a tendina che compare quando il mouse è sull'utente
        l'icona per il carrello deve richiedere login se non è ancora stato fatto (usare decorator login required)
        -->
        <div class="userinfo">
            <a href="/signup/">Sign Up</a>
            <a href="/signin/">Sign In</a>

            <!-- fare in modo che:
             -quando l'utente si logga, il bottone di login diventa il nome dell'utente ed è un link alla sua pagina profilo (dove vede informazioni e può aggiungersi i soldi)
             -quando utente loggato, il suo nome (oltre che bottone) è un menu a tendina per scollegare l'utente
            -->
        </div>
    </nav>
</header>

<!-- TODO mettere la lista a sinistra con i link per la ricerca veloce (filtri)-->

<div class="flash_messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flashed_message">
                    {{ message }}
                    <button type="button" class="close">&times;</button>
                <!-- magari il bottone mettere solo ID e non classe, comunque deve chiudere i messaggi flashati-->
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<main>
    {% block body %}
    {% endblock %}
</main>

<footer>&copy;2019 Matteo Goretti | All rights reserved</footer>

</body>
</html>