{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/cart.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/cart.js"></script>
{% endblock %}

{% block body %}
    {{ super() }}

    {% if element_list|length %}
        <div class="shopping-cart">
            {% for fish in element_list %}
                <!-- (fish_id, fish_name, price, description, img_url, qta)-->
                <div class="product">
                    <form  method="get" action="/delete_item/">
                        <img src="{{ fish[4] }}" alt="{{ fish[1] }}" class="product-img">
                        <div class="description">
                            <h3>{{ fish[1] }}</h3>
                            <p>{{ fish[3] }}</p>
                        </div>
                        <div class="price">
                            <div class="quantity-div">Qt:
                            <input type="number" name="quantity" id="quantity" value="{{ fish[5] }}" class="quantity" readonly>
                            </div>
                            <div class="price-div">€
                                <input type="number" name="prod-price" id="prod-price" value="{{ fish[2] }}" class="prod-price" readonly>
                            </div>
                            <input type="submit" name="delete-button" value="Delete" class="fast-search-button">
                            <input type="hidden" name="fish_id" value="{{ fish[0] }}">
                        </div>
                    </form>
                </div>
            {% endfor %}


            <div class="pay">
                Total:
                <form method="get" action="/payment/">
                    <div class="total-price" id="total-price">0.00 €</div>
                    <input type="submit" name="buy-button" id="buy-button" value="Buy" class="fast-search-button" onclick="enoughMoney({{ user_credit }});">
                </form>
            </div>
        </div>
        <script>writeTotal();</script>

    {% else %}

        <div class="void-cart">
            Your shopping cart is empty! Go search and buy something!!!
            <form  method="get" action="/search/">
                <input type="submit" name="search-button" value="Shop Now" class="fast-search-button search-button">
            </form>
        </div>

    {% endif %}

{% endblock %}