{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/cart.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    {{ super() }}
    <div class="shopping-cart">
        {% for fish in element_list %}
            <!-- (fish_id, fish_name, price, description, img_url, qta)-->
            <div class="product">
                <form  method="get" action="/shopping_cart/">
                    <img src="{{ fish[4] }}" alt="{{ fish[1] }}" class="product-img">
                    <div class="description">
                        <h3>{{ fish[1] }}</h3>
                        <p>{{ fish[3] }}</p>
                    </div>
                    <div class="price">
                        <p>{{ fish[5] }} X {{ fish[2] }}€</p>
                        <input type="submit" name="delete-button" value="Delete" class="fast-search-button">
                        <input type="hidden" name="fish_id" value="{{ fish[0] }}">
                    </div>
                </form>
            </div>
        {% endfor %}


        <div class="pay">
            Total:
            <!-- todo mettere form che manda a una root che fa pagare e cancella le istanze dalla table CART (o se non ci sono soldi rimanda con un errore a questa pagina)-->
            <form  method="get" action="/payment/">
                <div class="total-price">1234.5 €</div>
                <input type="submit" name="buy-button" value="Buy" class="fast-search-button">
            </form>
        </div>

    </div>
{% endblock %}