{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- mettere qua i nuovi pezzi di header da linkare-->
{% endblock %}

{% block body %}
    {{ super() }}
    <h1>Questa è la home!!!</h1>
    <pre>
    Bacon ipsum dolor amet capicola venison rump salami. Pork loin ham hock meatloaf,
        brisket beef cupim shank short ribs tri-tip porchetta leberkas. T-bone rump pork belly
        strip steak. Rump shank spare ribs pork chop doner. Venison beef ribs turkey fatback shank ground round
        brisket bresaola shankle hamburger bacon doner boudin spare ribs. Tail andouille tenderloin, shankle ham ground round bresaola pastram
        i pig shank flank sirloin.

Boudin tri-tip drumstick, cupim pastrami pig sausage beef shoulder jowl pork loin. Boudin buffalo f
        ilet mignon sirloin swine. Filet mignon cupim fatback boudin sirloin kielbasa short loin, tu
        rducken chuck pork chop. Ground round beef picanha, alcatra chicken hamburger drumstick meatloaf t-bone shank. Jowl cow buffalo m
        eatloaf, ham t-bone sirloin leberkas.

Corned beef swine salami, venison shankle short loin landjaeger. Frankfurter short ribs shankle, h
        amburger pork loin bacon swine shoulder beef ribs andouille beef. Pig kielbasa corned beef doner sa
        lami. Frankfurter jowl turducken, venison ball tip tenderloin pork pastrami.

Short loin bacon chicken cow buffalo, swine capicola. Drumstick leberkas ball tip, short loin tur
        key kevin meatloaf bresaola jowl biltong rump turducken. Brisket meatloaf leberkas buffalo ground round bacon ham
        burger spare ribs pancetta beef bresaola biltong short ribs. Andouille ground round meatball, rump strip steak ham shoulder chuck boudin.

Frankfurter salami cow rump. Pork loin fatback pastrami filet mignon chicken. Jowl pork belly shankle, biltong alcatra landj
        aeger pig venison rump strip steak tenderloin meatball shank. Jerky picanha beef short ribs pancetta landjaeger chicken pork chop b
        risket corned beef leberkas spare ribs ham cupim. Swine sausage buffalo rump salami pork loin t-bone cup
        im pork belly. Ball tip bresaola filet mignon, brisket ribeye chuck t-bone jowl. Alcatra beef ribs andouille hamburge
        r, tongue cupim strip steak bresaola flank boudin venison.

Shoulder beef ribs pastrami chicken pork burgdoggen tongue pork chop ball tip meatloaf venison biltong. Fil
        et mignon cow ground round shankle andouille t-bone turkey salami ham tongue jowl beef ribs kevin tri-tip. Cor
        ned beef shank jerky, brisket cow pig tenderloin meatball. Meatball venison beef ribs bacon, tenderloin drumstick flank
        biltong tongue ribeye pork belly porchetta capicola beef. Biltong beef meatloaf drumstic
        k buffalo. Andouille picanha prosciutto ham corned beef doner pork belly shank hamburger meatloaf tail short lo
        in. Cupim pork loin sirloin flank ribeye capicola ham hock pig pastrami.

Prosciutto tongue shoulder, beef porchetta jowl chuck boudin flank capicola frankfurter. Turducken sir
        loin strip steak short loin, ground round pork loin pork chop ribeye shank chuck. Pancetta jowl spare ribs picanha, sal
        ami filet mignon pork chop t-bone pastrami ribeye drumstick ground round. Turducken hamburger ham hock, pork loin meatball picanha jowl pros
        ciutto ham alcatra buffalo. Tongue capicola picanha venison kevin short ribs.

Cow tongue fatback t-bone. Turducken shankle flank pig short ribs filet mignon spare ribs.
        Short ribs fatback t-bone tongue, ground round meatball cupim hamburger. Boudin tongue tri-tip kielbasa.

Picanha beef ribs swine tongue leberkas salami chuck pork loin. Kielbasa alcatra kevin pastrami. Ham hock meatball
        fatback pastrami doner kevin turkey beef ribs flank shank rump bacon short ribs pork drumstick. Turkey
        spare ribs beef ribs salami. Turducken short ribs buffalo tongue. Picanha bresaola cow, turducken burgdoggen
        pork belly swine spare ribs chuck pastrami. Sirloin andouille boudin shankle burgdoggen biltong beef ribs ball tip.

Boudin prosciutto shoulder, ground round alcatra porchetta turkey strip steak meatloaf turducken ham hock
        picanha andouille. Shankle short loin burgdoggen tongue jerky ground round turducken beef ribs. Kielbasa turducken tongue,
        capicola short loin frankfurter brisket strip steak shankle fatback bacon. Tri-tip venison fatback, shank frankfurter sirloin cow bacon.
Short loin bacon chicken cow buffalo, swine capicola. Drumstick leberkas ball tip, short loin tur
        key kevin meatloaf bresaola jowl biltong rump turducken. Brisket meatloaf leberkas buffalo ground round bacon ham
        burger spare ribs pancetta beef bresaola biltong short ribs. Andouille ground round meatball, rump strip steak ham shoulder chuck boudin.

Frankfurter salami cow rump. Pork loin fatback pastrami filet mignon chicken. Jowl pork belly shankle, biltong alcatra landj
        aeger pig venison rump strip steak tenderloin meatball shank. Jerky picanha beef short ribs pancetta landjaeger chicken pork chop b
        risket corned beef leberkas spare ribs ham cupim. Swine sausage buffalo rump salami pork loin t-bone cup
        im pork belly. Ball tip bresaola filet mignon, brisket ribeye chuck t-bone jowl. Alcatra beef ribs andouille hamburge
        r, tongue cupim strip steak bresaola flank boudin venison.

Shoulder beef ribs pastrami chicken pork burgdoggen tongue pork chop ball tip meatloaf venison biltong. Fil
        et mignon cow ground round shankle andouille t-bone turkey salami ham tongue jowl beef ribs kevin tri-tip. Cor
        ned beef shank jerky, brisket cow pig tenderloin meatball. Meatball venison beef ribs bacon, tenderloin drumstick flank
        biltong tongue ribeye pork belly porchetta capicola beef. Biltong beef meatloaf drumstic
        k buffalo. Andouille picanha prosciutto ham corned beef doner pork belly shank hamburger meatloaf tail short lo
        in. Cupim pork loin sirloin flank ribeye capicola ham hock pig pastrami.

Prosciutto tongue shoulder, beef porchetta jowl chuck boudin flank capicola frankfurter. Turducken sir
        loin strip steak short loin, ground round pork loin pork chop ribeye shank chuck. Pancetta jowl spare ribs picanha, sal
        ami filet mignon pork chop t-bone pastrami ribeye drumstick ground round. Turducken hamburger ham hock, pork loin meatball picanha jowl pros
        ciutto ham alcatra buffalo. Tongue capicola picanha venison kevin short ribs.

Cow tongue fatback t-bone. Turducken shankle flank pig short ribs filet mignon spare ribs.
        Short ribs fatback t-bone tongue, ground round meatball cupim hamburger. Boudin tongue tri-tip kielbasa.

Picanha beef ribs swine tongue leberkas salami chuck pork loin. Kielbasa alcatra kevin pastrami. Ham hock meatball
        fatback pastrami doner kevin turkey beef ribs flank shank rump bacon short ribs pork drumstick. Turkey
        spare ribs beef ribs salami. Turducken short ribs buffalo tongue. Picanha bresaola cow, turducken burgdoggen
        pork belly swine spare ribs chuck pastrami. Sirloin andouille boudin shankle burgdoggen biltong beef ribs ball tip.
Short loin bacon chicken cow buffalo, swine capicola. Drumstick leberkas ball tip, short loin tur
        key kevin meatloaf bresaola jowl biltong rump turducken. Brisket meatloaf leberkas buffalo ground round bacon ham
        burger spare ribs pancetta beef bresaola biltong short ribs. Andouille ground round meatball, rump strip steak ham shoulder chuck boudin.

Frankfurter salami cow rump. Pork loin fatback pastrami filet mignon chicken. Jowl pork belly shankle, biltong alcatra landj
        aeger pig venison rump strip steak tenderloin meatball shank. Jerky picanha beef short ribs pancetta landjaeger chicken pork chop b
        risket corned beef leberkas spare ribs ham cupim. Swine sausage buffalo rump salami pork loin t-bone cup
        im pork belly. Ball tip bresaola filet mignon, brisket ribeye chuck t-bone jowl. Alcatra beef ribs andouille hamburge
        r, tongue cupim strip steak bresaola flank boudin venison.

Shoulder beef ribs pastrami chicken pork burgdoggen tongue pork chop ball tip meatloaf venison biltong. Fil
        et mignon cow ground round shankle andouille t-bone turkey salami ham tongue jowl beef ribs kevin tri-tip. Cor
        ned beef shank jerky, brisket cow pig tenderloin meatball. Meatball venison beef ribs bacon, tenderloin drumstick flank
        biltong tongue ribeye pork belly porchetta capicola beef. Biltong beef meatloaf drumstic
        k buffalo. Andouille picanha prosciutto ham corned beef doner pork belly shank hamburger meatloaf tail short lo
        in. Cupim pork loin sirloin flank ribeye capicola ham hock pig pastrami.

Prosciutto tongue shoulder, beef porchetta jowl chuck boudin flank capicola frankfurter. Turducken sir
        loin strip steak short loin, ground round pork loin pork chop ribeye shank chuck. Pancetta jowl spare ribs picanha, sal
        ami filet mignon pork chop t-bone pastrami ribeye drumstick ground round. Turducken hamburger ham hock, pork loin meatball picanha jowl pros
        ciutto ham alcatra buffalo. Tongue capicola picanha venison kevin short ribs.

Cow tongue fatback t-bone. Turducken shankle flank pig short ribs filet mignon spare ribs.
        Short ribs fatback t-bone tongue, ground round meatball cupim hamburger. Boudin tongue tri-tip kielbasa.

Picanha beef ribs swine tongue leberkas salami chuck pork loin. Kielbasa alcatra kevin pastrami. Ham hock meatball
        fatback pastrami doner kevin turkey beef ribs flank shank rump bacon short ribs pork drumstick. Turkey
        spare ribs beef ribs salami. Turducken short ribs buffalo tongue. Picanha bresaola cow, turducken burgdoggen
        pork belly swine spare ribs chuck pastrami. Sirloin andouille boudin shankle burgdoggen biltong beef ribs ball tip.
Short loin bacon chicken cow buffalo, swine capicola. Drumstick leberkas ball tip, short loin tur
        key kevin meatloaf bresaola jowl biltong rump turducken. Brisket meatloaf leberkas buffalo ground round bacon ham
        burger spare ribs pancetta beef bresaola biltong short ribs. Andouille ground round meatball, rump strip steak ham shoulder chuck boudin.

Frankfurter salami cow rump. Pork loin fatback pastrami filet mignon chicken. Jowl pork belly shankle, biltong alcatra landj
        aeger pig venison rump strip steak tenderloin meatball shank. Jerky picanha beef short ribs pancetta landjaeger chicken pork chop b
        risket corned beef leberkas spare ribs ham cupim. Swine sausage buffalo rump salami pork loin t-bone cup
        im pork belly. Ball tip bresaola filet mignon, brisket ribeye chuck t-bone jowl. Alcatra beef ribs andouille hamburge
        r, tongue cupim strip steak bresaola flank boudin venison.

Shoulder beef ribs pastrami chicken pork burgdoggen tongue pork chop ball tip meatloaf venison biltong. Fil
        et mignon cow ground round shankle andouille t-bone turkey salami ham tongue jowl beef ribs kevin tri-tip. Cor
        ned beef shank jerky, brisket cow pig tenderloin meatball. Meatball venison beef ribs bacon, tenderloin drumstick flank
        biltong tongue ribeye pork belly porchetta capicola beef. Biltong beef meatloaf drumstic
        k buffalo. Andouille picanha prosciutto ham corned beef doner pork belly shank hamburger meatloaf tail short lo
        in. Cupim pork loin sirloin flank ribeye capicola ham hock pig pastrami.

Prosciutto tongue shoulder, beef porchetta jowl chuck boudin flank capicola frankfurter. Turducken sir
        loin strip steak short loin, ground round pork loin pork chop ribeye shank chuck. Pancetta jowl spare ribs picanha, sal
        ami filet mignon pork chop t-bone pastrami ribeye drumstick ground round. Turducken hamburger ham hock, pork loin meatball picanha jowl pros
        ciutto ham alcatra buffalo. Tongue capicola picanha venison kevin short ribs.

Cow tongue fatback t-bone. Turducken shankle flank pig short ribs filet mignon spare ribs.
        Short ribs fatback t-bone tongue, ground round meatball cupim hamburger. Boudin tongue tri-tip kielbasa.

Picanha beef ribs swine tongue leberkas salami chuck pork loin. Kielbasa alcatra kevin pastrami. Ham hock meatball
        fatback pastrami doner kevin turkey beef ribs flank shank rump bacon short ribs pork drumstick. Turkey
        spare ribs beef ribs salami. Turducken short ribs buffalo tongue. Picanha bresaola cow, turducken burgdoggen
        pork belly swine spare ribs chuck pastrami. Sirloin andouille boudin shankle burgdoggen biltong beef ribs ball tip.

Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!


    </pre>
    <!-- mettere il contenuto del body e la lista a sinistra con la ricerca veloce con gia dei tag-->
{% endblock %}
