{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- mettere qua i nuovi pezzi di header da linkare-->
{% endblock %}

{% block body %}
    {{ super() }}

    {% for fish in element_list %}
        <!-- fish = (ID, NAME, PRICE, WEIGHT, LENGTH, SEA, DESCRIPTION, IMAGE_URL) -->
        <div class="product">
            <form  method="get" action="/product/">
                <img src="{{ fish[-1] }}" alt="{{ fish[1] }}" class="product-img">
                <h3>{{ fish[1] }}</h3>
                <p>{{ fish[-2] }}</p>
                <div class="price">
                    {{ fish[2] }} €
                    <input type="submit" name="fish_id" value="{{ fish[0] }}">
                </div>
            </form>
        </div>
    {% endfor %}


    <h1>Questa è la home!!!</h1>

    <!-- mettere il contenuto del body e la lista a sinistra con la ricerca veloce con gia dei tag-->
{% endblock %}
