{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- mettere qua i nuovi pezzi di header da linkare-->
{% endblock %}

{% block body %}
    <form method="Post" action="/signin/">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Username" required>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Password" required>

        <button type="submit">Sign In</button>

        <!-- mettere:
        -bottone per resettare i campi
        -link per il forgot password
        -JS per scambiare a form di registrazione
        -link per il forgot password
        -->
    </form>

    <p>
        Don't have an account? <a href="/signup/">Sign Up here!</a>
    </p>
{% endblock %}

