{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/login.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="sign-form">
        <form method="Post" action="/signin/" >
            <label for="username">Username: </label>
            <input type="text" class="sign-input" name="username" id="username" placeholder="Username" required>

            <label for="password">Password: </label>
            <input type="password" class="sign-input" name="password" id="password" placeholder="Password" required>

            <input type="submit" value="Sign In" name="signin" class="sign-button">

        </form>

        <p>
            Don't have an account? <a href="/signup/">Sign Up here!</a>
        </p>
        <p>
            <a href="/signup/">Forgot Password?</a>
        </p>
    </div>

{% endblock %}

