{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link href="/static/css/registration.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/registration.js"></script>
{% endblock %}

{% block body %}
    {% if existing_user %}
        <div class="existing-user-error">User already exists! Try Again!</div>
    {% endif %}

    <div class="sign-form">
        <form method="Post" action="/signup/">
            <label for="username">Username: </label>
            <input type="text" class="sign-input" name="username" id="username" placeholder="Username" required>

            <label for="username">Email: </label>
            <input type="email" class="sign-input" name="email" id="email" placeholder="example@gmail.com" required>

            <label for="password">Password: </label>
            <input type="password" class="sign-input" name="password" id="password" placeholder="Password" required>

            <label for="password">Repeat Password: </label>
            <input type="password" class="sign-input" name="password_repeated" id="password_repeated" placeholder="Repeat Password" onchange="checkPasswords();" required>
            <div id="password-error"></div>

            <input type="submit" value="Sign Up" name="signup" class="sign-button" onclick="checkForm();">

        </form>
        <p>
            Already have an account? <a href="/signin/">Sign In!</a>
        </p>
    </div>

{% endblock %}
